<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>
  <header>
    <%- include('navbar-mentor') %>
  </header>
  <main>
    <div class="container-fluid">

      

        <div class="container">
          <div class="col align-self-end">
            <div class="input-group mb-3">
                <input type="text" class="form-control col-md-8" placeholder="Search by Task Name" aria-label="Search Name" id="searchName" aria-describedby="basic-addon2"> 
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="searchButton" onclick="searchTask()"><i class="fa fa-search"></i></button>
                </div>
              </div>
        </div>
        <h3>Your Tasks</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Task Name</th>
                    <th>Checkpoints</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((elem,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= elem.name %></td>
                    <td><%= elem.checkpoint %></td>
                    <td>
                        <a class="btn btn-success btn-sm" href="/mentors/tasks/grade/<%= elem.id %>">Grade</a>
                        <a class="btn btn-danger btn-sm" href="/mentors/tasks/delete/<%= elem.id %>">Delete</a>
                    </td>
                 </tr>
                <% }) %>

            </tbody>
        </table>
        <a href="/mentors/tasks/add" class="btn btn-primary float-end">Add New Task</a>
        </div>

    </div>

    <script>
      let textName = document.getElementById('searchName');
      
          textName.addEventListener("keypress", function(event) {
              if (event.key === "Enter") {
                  event.preventDefault();
                  document.getElementById("searchButton").click();
              }
          });
  
  
      
          function searchTask()
          {
              let textName = document.getElementById('searchName').value;
              location.replace(`/mentors/tasks/?search=${textName}`);
          }
       </script>


  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>